body{
    background-color: #282828;
    color:white;
}
button{
    background-color: #282828;
    border: 0px;
    display: flex;
    justify-content: center;
    margin-right: 5px;
}
button:hover{
    color:#528B8B;
}
.container{
    display:flex;
    border:3px solid orange;
    flex-direction: column;
    justify-content: flex-start;
    gap:3px;
    padding:5px;
    border-radius:10px;
    text-align: center;
}
.cabecalho{
    display:flex;
    background-color:#282828;
    color: #528B8B;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    position:fixed;
}